
bin/

config/

data/

doc-html/

temp/

saves/*
!saves/Solo
!saves/Multi

achievements.dat
achievements-modded.dat
blueprint-storage.dat
crop-cache.dat
config-path.cfg
factorio-current.log
factorio-previous.log
player-data.json
